.sidebar {
  background-color: var(--slack-color);
  color: var(--text-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
  flex: 0.3;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 8px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 4px;
  color: green;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 13px;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 20px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.sidebar__header > .MuiSvgIcon-root:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

/* Moblie Version */
@media (max-width: 767px) {
  .sidebar {
    flex: 0.2;
    height: 100vh;
  }

  .sidebar__info > h2 {
    font-size: 14px;
    font-weight: 500;
  }

  .sidebar__info > h3 {
    font-size: 13px;
  }

  .sidebar__header {
    justify-content: space-between;
  }

  .sidebar__header > .MuiSvgIcon-root {
    font-size: 15px;
    padding: 5px;
  }
}

@media (max-width: 320px) {
  .sidebar {
    height: 106vh;
  }
}

/* Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    height: 100vh;
  }
}
