.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: #340e36;
}

.sidebarOption__icon {
  margin: 10px;
  font-size: 20px !important;
}

/* .sidebarOption__channel {
  padding: 10px 0;
} */

.sidebarOption__hash {
  padding: 10px;
  font-size: 20px;
}

.sidebarOption > h3 {
  font-weight: 500;
  font-size: 14px;
}

/* Moblie Version */
@media (max-width: 767px) {
  .sidebarOption__icon {
    font-size: 15px !important;
  }

  .sidebarOption__hash {
    font-size: 15px;
  }

  .sidebarOption > h3 {
    font-size: 10px;
  }
}

/* Tablet Version */
