.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__info {
  padding-left: 10px;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
  margin-left: 2rem;
}

/* Moblie Version */
@media (max-width: 767px) {
  .message > img {
    height: 30px;
    width: 30px;
    object-fit: contain;
  }
  .message__info > h4 {
    font-size: 10px;
    font-weight: 400;
  }

  .message__info > p {
    font-size: 9px;
  }

  .message__timestamp {
    font-size: 10px;
  }
}
