.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  color: var(--text-color);
  background-color: var(--slack-color);
}

.header__avatar {
  object-fit: contain;
  width: 32px !important;
  height: 32px !important;
  cursor: pointer;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.header__left > .MuiSvgIcon-root:hover {
  color: gray;
}

.header__search {
  flex: 0.4;
  background-color: #421f44;
  display: flex;
  align-items: center;
  padding: 0 50px;
  color: gray;
  border-radius: 6px;
  border: 1px gray solid;
}

.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
  outline: none;
  padding: 0.5rem;
  color: var(--text-color);
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}

.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.header__right > .MuiSvgIcon-root:hover {
  color: gray;
}

/* Moblie Version */
@media (max-width: 767px) {
  .header {
    overflow-x: hidden;
  }

  .header__left > .MuiSvgIcon-root {
    display: none;
  }

  .header__search {
    display: none;
  }
}

/* Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    overflow-x: hidden;
  }
}
